#travail {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

body {
    background-color: #99B6A0;
}

.lien {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vmin;
    background-color: #FAECC9;
    padding: 0.5vmin;
    margin: 0.5vmin;
    border: 0.5vmin solid #DD912F;
    color: #000000;
}

.evenement, .casevide {
    display: inline-block;
}

.evenement {
    border: 1vmax solid #DD912F;
    background-color: rgba(250, 236, 201, 0.85);
    height: 30vmin;
    width: 12vmax;
    z-index: 2;
    text-align: center;
    vertical-align: top;
    margin: 2vmin 2vmax;
}

.casevide {
    position: relative;
    text-align: center;
    font-size: 2vmax;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Arima Madurai', cursive;
    font-size: 5vmin;
    text-align: center;
    margin: 0;
}

h1 a {
    color: black; 
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vmin;
    padding-left: 0.4vmin;
    padding-right: 0.4vmin;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.85vmin;
    padding-left: 0.4vmin;
    padding-right: 0.4vmin;
}

#nom {
    width: 35vmax;
}

#eleve {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9vmin;
    width: 50vmax;
    margin: 0 auto 2vmin;
}

.cible {
    border: 1vmax solid #8B461F;
    height: 30vmin;
    width: 12vmax;
    z-index: 0;
    text-align: center;
    margin-top: 0.75vmin;
}

#ligne {
    width: 85vmax;
    height: 1vmax;
    margin: 0 auto;
    background-color: #341707;
}

.trait {
    width: 1vmax;
    height: 3vmin;
    background-color: #341707;
    margin: 0 auto;
}

#r3, #r4 {
    width: 76vmax;
    margin: auto;
}