#travail {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

body {
    background-color: #99B6A0;
}

.lien {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vmin;
    background-color: #FAECC9;
    padding: 0.5vh;
    margin: 0.5vh;
    border: 0.5vh solid #DD912F;
    color: #000000;
}

.evenement, .casevide {
    display: inline-block;
}

.evenement {
    border: 1vw solid #DD912F;
    background-color: rgba(250, 236, 201, 0.85);
    height: 30vh;
    width: 12vw;
    z-index: 2;
    text-align: center;
    vertical-align: top;
    margin: 2vh 2vw;
}

.evenement .tableau {
    display: table;
    height: 100%;
    width: 100%;
}

.evenement h3 {
    display: table-cell;
    vertical-align: middle;
}

.evenement p {
    display: table-row;
    vertical-align: middle;
}

.casevide {
    position: relative;
    text-align: center;
    font-size: 2vmax;
    font-family: 'Open Sans', sans-serif;
}

.casevide .annee {
    margin: 2.5vh 0; 
}

h1 {
    font-family: 'Arima Madurai', cursive;
    font-size: 5vmin;
    text-align: center;
    margin: 0;
}

h1 a, h1 a:visited {
    color: #000000; 
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vmin;
    padding-left: 0.4vh;
    padding-right: 0.4vh;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.85vmin;
    padding-left: 0.4vh;
    padding-right: 0.4vh;
}

#nom {
    width: 35vw;
}

#eleve {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9vmin;
    width: 50vw;
    margin: 0 auto 2vh;
}

.cible {
    border: 1vw solid #8B461F;
    height: 30vh;
    width: 12vw;
    z-index: 0;
    text-align: center;
    margin-top: 0.75vh;
}

#ligne {
    width: 85vw;
    height: 1vw;
    margin: 0 auto;
    background-color: #341707;
}

.trait {
    width: 1vw;
    height: 3vh;
    background-color: #341707;
    margin: 0 auto;
}

#r3, #r4 {
    width: 76vw;
    margin: auto;
}